<h1 class="mat-h1">Setup</h1>

<div class="setup-form-wrapper">
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Collection</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Project</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Access token</mat-label>
            <input matInput>
        </mat-form-field>

    </form>
</div>
